.message-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:pink;
  font-family: 'Segoe UI', sans-serif;
}

.message-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: left;
  animation: fadeIn 1s ease-in-out;
}

.message-link {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}

.message-card p {
  word-spacing: 6px;     /* Increase space between words */
  letter-spacing: 1px;   /* Slight space between letters */
  line-height: 1.9;      /* Better vertical spacing */
}

.message-link:hover {
  color: #ff4d6d;
}

.note-text {
  margin-top: 15px;
  font-size: 14px;
  color: rgb(245, 23, 23);
}

.signature {
  margin-top: 30px;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
